@import "../../../../../scss/mixins/index";

$side-nav-width: 300px;

:host {
  @include grid($side-nav-width 1fr, 1fr);
}
.side-nav {
  @include grid-item(1, 2, 1, 2);
}
.content {
  @include grid-item(2, 3, 1, 2);
}

:host {
  min-height: 100%;
}

.side-nav {
  border-right: 1px solid black;
  background: white;
  @include z-index(nav);
}

.side-nav-inner {
  position: sticky;
  top: 0;
}

.content {
}

.track-image {
  display: block;
  width: 100%;
}

table {
  width: 100%;

  ::ng-deep {
    .mat-cell {
      &.mat-column-name {
        width: 10em;
        font-weight: 600;
      }
      &.mat-column-value {
        width: 10em;
      }
      &.mat-column-note {
        font-size: 0.8em;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
        line-height: 1.3;
      }
    }
  }
}

.navs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
