$side-nav-width: 300px;

:host {
  display: block;
}

.side-nav {
  position: fixed;
  top: 0;
  width: $side-nav-width;
  height: 100vh;
  border-right: 1px solid black;
  background: white;
}

.content {
  padding-left: $side-nav-width;
  min-height: 100vh;
}

.track-image {
  display: block;
  width: 100%;
}

table {
  width: 100%;

  ::ng-deep {
    .mat-cell {
      &.mat-column-name {
        width: 10em;
        font-weight: 600;
      }
      &.mat-column-value {
        width: 10em;
      }
      &.mat-column-note {
        font-size: 0.8em;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
        line-height: 1.3;
      }
    }
  }
}

.navs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
