<ng-container *ngIf="albums?.total">
  <p>{{albums.total > 50 ? '50+' : albums.total}} albums</p>

  <sp-thumbnail-group gutter="narrow" [maxColumnWidth]="180">
    <sp-thumbnail *ngFor="let item of albums.items">
      <a sp-album-thumbnail [routerLink]="['/album', item.id]" [album]="item"></a>
    </sp-thumbnail>
  </sp-thumbnail-group>
</ng-container>

<div class="message no-result" *ngIf="noResult">
  Fill the Search Params
</div>

<div class="message not-found" *ngIf="notFound">
  Not Found
</div>
