$side-nav-width: 300px;

:host {
  display: block;
}

.side-nav {
  position: fixed;
  top: 0;
  width: $side-nav-width;
  height: 100vh;
  border-right: 1px solid black;
  background: white;
}

.content {
  padding-left: $side-nav-width;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
