@import "../../../../../scss/mixins/index";

$side-nav-width: 300px;

:host {
  @include grid($side-nav-width 1fr, 1fr);
}
.side-nav {
  @include grid-item(1, 2, 1, 2);
}
.content {
  @include grid-item(2, 3, 1, 2);
}

:host {
  min-height: 100%;
}

.side-nav {
  border-right: 1px solid black;
  background: white;
  @include z-index(nav);
}

.side-nav-inner {
  position: sticky;
  top: 0;
}

.content {
}

.artist-image {
  display: block;
  width: 100%;
}

.header {}

.navs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  [mat-list-item] {
    font-weight: 600;
    &.active {
      background: black;
      color: white;
    }
  }
}

.genres {
  line-height: 1;
}
.genre {
  display: inline-block;
  font-size: 10px;
  color: white;
  background: black;
  line-height: 1;
  padding: .2em .5em;
  margin: 0 .2em 0 0;
  text-decoration: none;
}
