<nav class="side-nav">
  <mat-nav-list>
    <a mat-list-item routerLink="/favorite" routerLinkActive="active">Favorite</a>
    <a mat-list-item routerLink="/artist" routerLinkActive="active">Artist</a>
    <a mat-list-item routerLink="/search" routerLinkActive="active">Search</a>
  </mat-nav-list>

  <mat-nav-list *ngIf="user$ | async as user">
    <a mat-list-item routerLink="/account" routerLinkActive="active">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      {{user.display_name}}
    </a>
  </mat-nav-list>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
