$side-nav-width: 160px;
$player-height: 90px;

:host {
  display: block;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: $side-nav-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
  background: white;
  z-index: 100;
  padding-bottom: $player-height;
}

.content {
  padding-left: $side-nav-width;
  padding-bottom: $player-height;
  min-height: 100vh;
  overflow: hidden;
}

sp-player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $player-height;
  z-index: 110;
}

[mat-list-item] {
  font-weight: 600;

  &.active {
    background: black;
    color: white;
  }
}
