<ng-container *ngIf="artists?.total">
  <p>{{artists.total > 50 ? '50+' : artists.total}} artists</p>

  <sp-thumbnail-group gutter="narrow" [maxColumnWidth]="180">
    <sp-thumbnail *ngFor="let item of artists.items">
      <a sp-artist-thumbnail [routerLink]="['/artist', item.id]" [artist]="item"></a>
    </sp-thumbnail>
  </sp-thumbnail-group>
</ng-container>

<div class="message no-result" *ngIf="noResult">
  Fill the Search Params
</div>

<div class="message not-found" *ngIf="notFound">
  Not Found
</div>
