:host {
  display: block;
}

.svg-container {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:host ::ng-deep {
  .artist-icon {
    cursor: pointer;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
