:host {
  display: block;
}

.mat-table {
  width: 100%;
}

.axis-selects {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;

  > * {
    margin-left: 10px;
  }
}

.selected-feature-values {
  padding-left: 70px;

  span {
    display: inline-block;
    width: 8.5em;
  }
}
