<sp-features-chart-axis-select
  [xAxisType]="xAxisType"
  [yAxisType]="yAxisType"
  (axisChange)="onAxisChange($event)"
></sp-features-chart-axis-select>
<sp-features-chart
  *ngIf="data"
  [featuresList]="data.featuresList$ | async"
  [xAxisType]="xAxisType"
  [yAxisType]="yAxisType"
  (dataSelect)="onSelect($event)"
></sp-features-chart>

<div class="selected-feature-values" *ngIf="selectedFeatureValues$ | async as values">
  <p>
    X - <span>{{values.x.name}}:</span> {{values.x.value}}
  </p>
  <p>
    Y - <span>{{values.y.name}}:</span> {{values.y.value}}
  </p>
</div>

<ng-container *ngIf="selectedTracks$ | async as tracks">
  <sp-track-list
    [tracks]="tracks"
    [context]="data.album"
    [columns]="['image','play','name','artist','album']"
  ></sp-track-list>
</ng-container>
